*.mp4
*.pyc
*.bag
*.weights
*.avi
*.npy
*.jpeg
*.png
scripts/pytorch-YOLOv4/ttest
*.weights
*.pth
*.onnx
*.engine
*.pyc
*.infer
*.npy

z_demo_*

scripts/pytorch-YOLOv4/__pycache__
.idea
.vscode
scripts/pytorch-YOLOv4/runs
scripts/pytorch-YOLOv4/log

*.jpg
*.json
*.txt
scripts/pytorch-YOLOv4/data/outcome
scripts/pytorch-YOLOv4/trtez_416
scripts/Untitled3.ipynb
scripts/Untitled4.ipynb
scripts/.ipynb_checkpoints/Untitled3-checkpoint.ipynb
scripts/.ipynb_checkpoints/Untitled4-checkpoint.ipynb
scripts/trt_engines/trtez_416
